//the purpose of this folder is to reset any default styles on the browser

/* Box sizing rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Make images easier to work with */
// img,
// picture {
//   max-width: 100%;
//   display: block;
// }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
